.audioPlayer {
  width: 600px;
  max-width: 100%;
  display: flex;
}

.progressBar {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.progressBar:focus {
  outline: none;
}
.progressBar::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.progressBar::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
.progressBar:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.progressBar::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.progressBar::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.progressBar::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.progressBar::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.progressBar::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.progressBar::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.progressBar:focus::-ms-fill-lower {
  background: #3071a9;
}
.progressBar:focus::-ms-fill-upper {
  background: #367ebd;
}
