.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--whitebg);
  margin: -2rem 1rem 0;
  position: relative;
  border-radius: 5px;
  padding: 1rem 0;
  box-shadow: 1px 3px 10px rgb(243, 242, 242);
}

.wrapper div {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.wrapper div svg {
  fill: var(--secondary);
}

.wrapper div > * {
  font-weight: 600;
}

.wrapper p,
.wrapper a {
  padding-right: 0.5rem;
}

.wrapper a {
  padding: 0.2rem 0.5rem 0.2rem 0;
}

.wrapper span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
